body{background: url("../images/bg.jpg") repeat; padding-bottom: 180px;}
#register-box{
  background: #fff;
  box-shadow: 0 0 30px black;
  border-radius: 10px;
}
#yellow{
  /* background:url("../images/yellow.png") no-repeat; */
  background: linear-gradient(to bottom, rgba(71,34,114,0) 27%,rgba(71,34,114,0.08) 30%,rgba(71,34,114,1) 43%,rgba(71,34,114,1) 100%)s, url("http://cdn.joyz.me/legendsgame/assets/images/yellow.png") no-repeat;

  position:relative;
  overflow: hidden;
margin-bottom: 150px;
box-shadow: 0 0 30px 1px black;
}
#header{     text-align: center;
    opacity: 1;
    background: #fff;
    padding: 30px 0 30px;
    margin-bottom: 80px;
    overflow: hidden;
    box-shadow: 0 -4px 21px 6px;}
#header h1{
  font-size: 24px;
  display: inline-block;
  line-height: 130px;
  margin: 0 30px;
  font-family: Raleway;
}
#lelogo{
width: 138px;
position: relative;
z-index: 1;
display: inline-block;
}
#lojoy{width: 156px;
    margin-top: 10px;
    display: inline-block;
}

#how-to{
  font-family: Roboto Condensed;
  background: rgba(255,255,255,0.6);
  box-shadow: 0 0 30px 0 black;
  border-radius: 10px;
  margin-bottom: 80px;
  padding: 40px;

}
#how-to h2{font-size: 50px;}
#prizes ul{list-style: none;     margin: 0;
    padding: 0;
}
#prizes ul li{display:block; margin: 50px 0;     border: 1px dashed; padding: 20px;}
#prizes ul li:last-child{margin-bottom: 30px;}

#prizes ul li img{display:inline-block; margin: 0 50px 0;}
#prizes ul li p{display: inline-block;
    max-width: 400px;
    font-size: 22px;
    line-height: 23px;
    top: 27px;
    position: relative;}

  #what-to{    margin-top: 60px;}
  #what-to h3{    text-align: center;}
  #what-to h3 span{     font-size: 70px;font-weight: bold;}
  #what-to h4{font-size: 18px;
    text-align: center;
    margin-bottom: 30px;}
#ps{display: inline-block;}
#ps p{       max-width: 450px;
    position: relative;
    top: 60px;
    margin-right: 50px; }
#size1{display: block;
    font-size: 150px;
    font-weight: bold;}
  #size2{    display: block;
    font-size: 38px;}
#size3{    display: block;
    font-size: 39px;
    line-height: 48px;}
#doit h2{display:inline-block;}
#doit img{    vertical-align: baseline;
    margin-right: 30px;}
#doit{ margin-bottom: 80px;}


#register-box ul{list-style: none; padding: 0;}
#register-box li{display: block; overflow: hidden; margin-bottom: 15px;border-bottom: 1px dashed rgba(0,0,0,0.2);
    padding-bottom: 30px;
}
#register-box h3{font-family: Raleway; font-size: 45px; text-align: center; margin: 30px 0;}
#register-box label{display: block; font-family: Raleway;}
#register-box input{display: block;font-family: Raleway;}
#register-box{}
#register-box{}
#go{    display: block;
    float: right;
    padding: 30px;
    font-size: 17px;
    font-family: Raleway;
    color: #fff;
    background-color: #472272;
    border: 2px dashed;
    margin: 30px 0 50px;
    font-weight: 700; cursor: pointer;}
.invalid{
color: #fff;
  background-color: red;
  width: 100%;
  padding: 10px;}


.overal-result{margin-top:50px;}
.info-box{    background: #fff;
    padding: 50px;}
.info-box #go{    margin: 50px 0 0;
    float: none;}




@media screen and (min-width: 0) {
  #doit h2{width: 100%; text-align: center; color: white;
}
  #ps{
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
  }
  #ps p{margin-right: 0;}
  #prizes img.d-xl-none{margin: auto!important;position: relative; top: 20px; display: block!important; }
  #how-to h2{font-size: 28px;}
  #header h1{line-height: 41px;
    margin: 20px;}
  #yellow{
    background: linear-gradient(to bottom, rgba(71,34,114,0) 17%,rgba(71,34,114,0.08) 20%,rgba(71,34,114,1) 13%,rgba(71,34,114,1) 100%), url("http://cdn.joyz.me/legendsgame/assets/images/yellow.png") no-repeat;
  }
  #size1{display: block;
      font-size: 105px;
      font-weight: bold;}
    #size2{    display: block;
      font-size: 26px;}
    #size3{    display: block;
      font-size: 29px;
      line-height: 48px;}
  #go{font-size: 14px; float: left;}


}
@media screen and (min-width: 576px) {
  #doit h2{width: 100%; text-align: center;}
  #ps{
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
  }
  #ps p{margin-right: 0;}
  #prizes img.d-xl-none{margin: 25px auto!important; display: block!important; }
  #how-to h2{font-size: 28px;}
  #header h1{line-height: 41px;
    margin: 20px;}
  #yellow{
    background: linear-gradient(to bottom, rgba(71,34,114,0) 17%,rgba(71,34,114,0.08) 20%,rgba(71,34,114,1) 13%,rgba(71,34,114,1) 100%), url("http://cdn.joyz.me/legendsgame/assets/images/yellow.png") no-repeat;
  }
  #size1{display: block;
      font-size: 150px;
      font-weight: bold;}
    #size2{    display: block;
      font-size: 36px;}
  #size3{    display: block;
      font-size:39px;
      line-height: 48px;}
    #go{font-size: 17px; float: right;}

}



@media screen and (min-width: 1200px) {
  #doit h2{width: auto; text-align: inherit;}
  #ps{display: inline-block;text-align: left; width: auto;}
  #prizes img.d-xl-none{display: none!important;}
  #yellow{
    background: linear-gradient(to bottom, rgba(71,34,114,0) 27%,rgba(71,34,114,0.08) 30%,rgba(71,34,114,1) 43%,rgba(71,34,114,1) 100%), url("http://cdn.joyz.me/legendsgame/assets/images/yellow.png") no-repeat!important;

  }

}
